.Modal {
  display: flex;
  position: absolute;
  z-index: 500;
  background-color: white;
  width: 150px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: -100px;
  top: -70px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-size: 1.0em;
  text-align: left;
}